header{
  align-items: center;
  gap: 10px;
  background: #fff;
  height: 7.2rem;
  padding: 0 2.4rem;
}

.searchBar{
  flex-grow: 1;
  height: 4.8rem;
  border: 1px solid #2d2f31;
  border-radius: 9999px;
  background-color: #f7f9fa;
  margin: 0 1.2rem;
  display: flex;
  align-items: center;
  padding: 0 2.4rem 0 0;
  
  && input{
    height: 3.4rem;
    border: 0;
    flex: 1;
    padding: 0 0 0 0.4rem;
    background-color: transparent;
  }

  && .searchIcon{
    opacity: 0.5;
  }
}